.mainContainer {
  min-height: 70vh;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.5;
  padding-bottom: 60px;
}

.titleContainer {
  margin-top: 15px;
  margin-bottom: 35px;
}

.titleText {
  font-size: 38px;
  margin-left: 5px;
}

.subTitleText {
  font-size: 28px;
  max-width: 330px;
  margin: 25px auto;
  text-align: center;
  padding: 2px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 1px #202020;
  background-image: linear-gradient(-45deg, #f8f8f8, white);
}

.subTitleTextDark {
  font-size: 28px;
  max-width: 330px;
  margin: 25px auto;
  text-align: center;
  padding: 2px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 1px #f8f8f8;
  background-image: linear-gradient(-45deg, hsl(0, 0%, 12%), hsl(0, 0%, 16%));
}

.notice {
  display: inline-block;
  font-size: 22px;
  padding: 9px;
  color: white;
  background-color: rgb(168, 56, 56);
  margin-bottom: 35px;
}

.courseContainer {
  margin-bottom: 35px;
}

.courseTitleText {
  font-size: 26px;
}

.courseLinksContainer {
  display: inline-grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.paragraphText {
  display: inline-block;
  font-size: 22px;
}
