.mainContainer {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
}

.titleText {
  font-size: 34px;
  margin-left: 5px;
}

.subTitleText {
  font-size: 26px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  text-align: center;
  padding: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.paragraphText {
  font-size: 19px;
}

@media only screen and (min-width: 600px) {
  .educationContainer {
    width: 70%;
    margin: 0 auto;
  }

  .experienceContainer {
    width: 70%;
    margin: 0 auto;
  }
}
