.mainContainer {
  text-align: center;
  margin: 30px;
}

.projectNameText {
  margin-top: 15px;
  margin-bottom: 0px;
}

.projectLinksContainer {
  margin: 7px;
}

.projectImage {
  cursor: pointer;
  height: 10%;
  width: 100%;
}

.techListContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  font-weight: 200;
  margin: 7px;
}

.techListText:last-child::after {
  content: "Git";
}
