.mainContainer {
  text-align: center;
}

.nameText {
  margin-top: 60px;
  margin-bottom: 10px;
}

.contactText {
  font-family: "Songti SC";
  font-size: 17px;
  margin: 0;
}

.links {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  height: 20px;
}

.links i {
  margin: 3px;
}

.links a {
  color: inherit;
}

.switch {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  height: 20px;
  cursor: pointer;
}
