.mainContainer {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #383838;
  margin-bottom: 20px;
  color: white;
}
