.mainContainer {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 15px;
}

.titleContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.titleText {
  font-size: 34px;
  margin-left: 5px;
}

.subTitleText {
  margin: 0 auto;
  max-width: 350px;
  font-size: 26px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.webProjects {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
}

@media only screen and (min-width: 800px) {
  .webProjects {
    grid-template-columns: 1fr 1fr;
  }
}
