.mainContainer {
  min-height: 70vh;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
  padding-bottom: 60px;
}

.titleContainer {
  margin-bottom: 25px;
  display: inline-block;
}

.titleText {
  font-size: 38px;
  margin-left: 5px;
}

.paragraphText {
  font-size: 22px;
}
