@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Cabin|Dancing+Script|Quicksand&display=swap');

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
